
.filter-button {
display: flex;
 flex-direction: row;
margin: 10px 5px;
color: #000;
font-weight: bold;
background-color: rgb(236, 236, 236);
padding: 10px 15px;
border-radius: 10px;
border: none;
cursor: pointer;
}

.filter-button:hover {
    background-color: #d8d8d8;
     transform: translateY(1px);
    transition: 0.5s;
}

.filter-button.active {
    background-color: oklch(.546 .245 262.881);
}
