.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 100px;
    height: 78vh;
    width: 100vh;
    background-color:#b9b4b4 ;
}

.input {
    padding: 10px;
    width: 500px;
    border: none;
    border-radius: 8px;
}

.button {
 flex-direction: row;
margin: 10px 5px;
color: #000;
font-weight: bold;
background-color: rgb(236, 236, 236);
padding: 10px 15px;
border-radius: 10px;
border: none;
cursor: pointer;
}

.button:hover {
    background-color: #d8d8d8;
    transition: 0.5s;
}

.add-button {
    padding: 10px 20px;
    border-radius: 8px;
    background-color: oklch(.546 .245 262.881);
    border: none;
    cursor: pointer;
}

.add-button:hover {
background-color: oklch(48.993% 0.18504 262.88);
transition: 0.5s;
}


.task {
display: flex;
color: #000;
font-size: 14px;
background-color: #fff;
margin: 20px;
width: 600px;
height: 40px;
justify-content: space-between;
align-items: center;
border:none;
border-radius: 8px;
}

.removeButton {
    border: none;
    padding: 12.5px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
}