.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 100px;
    height: 78vh;
    width: 100vh;
    background-color:#b9b4b4 ;
}



.filter-buttons {
    display: flex;
}