:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #b9b4b4;

}


body {
  margin: 0;
  display: flex;
  height: 100vh;
  justify-content: center;
}